@import "./styles/cropper";
@import "./styles/fs-image-editor-slider";

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  .control-button {
    width: 80px;
    height: 80px;
    background-color: #cfcfcf;
    color: dimgray;
    display: inline-block;
    margin: 3px;

    i {
      font-size: 44px;
    }

    label {
      display: block;
    }
  }

  .control-input {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #cfcfcf;
    color: dimgray;
    padding: 0 20px;

    label {
      display: flex;
      justify-content: center;
      font-size: 11px;
    }
  }
}

img {
  max-width: 100%;
}

.icon-rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

:host {
  ::ng-deep {
    .hidden {
      display: none;
    }
  }
}
