@import "./styles/cropper";

.container {
  display: flex;
  flex-direction: row;
  color: #bfbfbf;
  height: 100%;

  ::ng-deep {
    .mat-ink-bar {
      display: none;
    }

    .mat-tab-labels {
      flex-direction: column;
      mat-icon {
        color: #fff;
      }
    }

    .mat-slider-track-fill {
      background-color: rgba(0, 0, 0, 0.26);
    }

    .mat-slider-thumb {
      background-color: #fff;
    }

    .mat-accordion {
      display: block;

      .mat-expansion-panel {
        box-shadow: none;
        background: none;
        color: #fff;

        .mat-expansion-panel-header {
          height: auto;
          padding: 10px;
        }

        .mat-expansion-panel-body {
          padding: 0 10px;
        }

        .mat-expansion-indicator {
          margin-right: 5px;
          &::after {
            color: #fff;
          }
        }
      }
    }
  }

  .toolbar {
    background-color: #22272F;

    .row {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 10px;
      }

      .label {
        margin-right: 5px;
        flex-grow: 1;
        white-space: nowrap;
      }

      button {
        width: 100%;
        margin-right: 10px;
      }

      & button:last-of-type {
        margin: 0;
      }
    }
  }
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    max-width: 90%;
    max-height: 90%;
  }
}

img {
  max-width: 100%;
}

.flip-vertical mat-icon {
  transform: rotate(-90deg);
}

.heading {
  color: #fff;
  font-size: 120%;
}
