<div class="container">
    <div class="img-container"></div>
    <div class="controls" [ngSwitch]="mode" *ngIf="imageUrl">

        <ng-container *ngSwitchCase="modes.Home">
            <button type="button" class="control-button" id="adjust-mode-btn" (click)="setMode(modes.Adjust)">
                <i class="material-icons">tune</i>
                <label>Adjust</label>
            </button>

            <button type="button" class="control-button" id="transform-mode-btn" (click)="setMode(modes.Transform)">
                <i class="material-icons">crop_rotate</i>
                <label>Transform</label>
            </button>
        </ng-container>

        <!-- Adjust -->

        <ng-container *ngSwitchCase="modes.Adjust">
            <button type="button" class="control-button" (click)="setMode(modes.Home)">
                <i class="material-icons">navigate_before</i>
            </button>

            <button type="button" class="control-button" id="brightness-mode-btn" (click)="setMode(modes.Brightness)">
                <i class="material-icons">brightness_5</i>
                <label>Brightness</label>
            </button>

            <button type="button" class="control-button" id="contrast-mode-btn" (click)="setMode(modes.Contrast)">
                <i class="material-icons">tonality</i>
                <label>Contrast</label>
            </button>

            <button type="button" class="control-button" id="hue-mode-btn" (click)="setMode(modes.Hue)">
                <i class="material-icons">palette</i>
                <label>Hue</label>
            </button>

            <button type="button" class="control-button" id="saturation-mode-btn" (click)="setMode(modes.Saturation)">
                <i class="material-icons">invert_colors</i>
                <label>Saturation</label>
            </button>
        </ng-container>

        <ng-container *ngSwitchCase="modes.Brightness">
            <button type="button" class="control-button" (click)="setMode(modes.Adjust)">
                <i class="material-icons">navigate_before</i>
            </button>

            <div class="control-input" id="brightness">
                <div>
                    <input type="range" min="-1" max="1" value="0" step="0.01"
                           [(ngModel)]="settings.brightness" (ngModelChange)="changeBrightness()">
                    <label> Brightness </label>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="modes.Contrast">
            <button type="button" class="control-button" (click)="setMode(modes.Adjust)">
                <i class="material-icons">navigate_before</i>
            </button>

            <div class="control-input" id="contrast">
                <div>
                    <input type="range" min="-1" max="1" value="0" step="0.01"
                           [(ngModel)]="settings.contrast" (ngModelChange)="changeContrast()">
                    <label> Contrast </label>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="modes.Hue">
            <button type="button" class="control-button" (click)="setMode(modes.Adjust)">
                <i class="material-icons">navigate_before</i>
            </button>

            <div class="control-input" id="hue">
                <div>
                    <input type="range" min="-1" max="1" value="0" step="0.01"
                           [(ngModel)]="settings.hue" (ngModelChange)="changeHue()">
                    <label> Hue </label>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="modes.Saturation">
            <button type="button" class="control-button" (click)="setMode(modes.Adjust)">
                <i class="material-icons">navigate_before</i>
            </button>

            <div class="control-input" id="saturation">
                <div>
                    <input type="range" min="-1" max="1" value="0" step="0.01"
                           [(ngModel)]="settings.saturation" (ngModelChange)="changeSaturation()">
                    <label> Saturation </label>
                </div>
            </div>
        </ng-container>

        <!-- Transform -->

        <ng-container *ngSwitchCase="modes.Transform">
            <button type="button" class="control-button" (click)="setMode(modes.Home)">
                <i class="material-icons">navigate_before</i>
            </button>

            <button type="button" class="control-button" id="flip-hor" (click)="changeFlip('x')">
                <i class="material-icons">flip</i>
                <label>Flip</label>
            </button>

            <button type="button" class="control-button" id="flip-ver" (click)="changeFlip('y')">
                <i class="material-icons icon-rotate-90">flip</i>
                <label>Flip</label>
            </button>

            <button type="button" class="control-button" id="rotate-left" (click)="rotateByDegree(-45)">
                <i class="material-icons">rotate_left</i>
                <label>Rotate Left</label>
            </button>

            <button type="button" class="control-button" id="rotate-right" (click)="rotateByDegree(45)">
                <i class="material-icons">rotate_right</i>
                <label>Rotate Right</label>
            </button>

            <button type="button" class="control-button" id="rotate-free-mode-btn" (click)="setMode(modes.Rotate)">
                <i class="material-icons">sync</i>
                <label>Free Rotate</label>
            </button>
        </ng-container>

        <ng-container *ngSwitchCase="modes.Rotate">
            <button type="button" class="control-button" (click)="setMode(modes.Transform)">
                <i class="material-icons">navigate_before</i>
            </button>

            <div class="control-input" id="rotate">
                <div>
                    <input type="range" min="-180" max="180" value="0" step="10"
                           [(ngModel)]="settings.rotate" (ngModelChange)="changeRotation()">
                    <label> Free Rotate </label>
                </div>
            </div>
        </ng-container>
    </div>
</div>
