$bg: darkgray;
$progress-height: 2px;
$progress-pointer-height: 15px;

input[type=range] {
  top: -$progress-height;
  -webkit-appearance: none;
  width: 100%;
  background: darkgray;
  margin: 2px 0;
  height: 2px;
  z-index: 4;

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: #ff3b80;
    border-color: #ff3b80;
    color: transparent;
  }

  // webkit

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $progress-height;
    cursor: pointer;
    background-color: $bg;
    border-radius: 10px;
  }

  &::-webkit-slider-thumb {
    height: $progress-pointer-height;
    width: $progress-pointer-height;
    border-radius: 50%;
    background-color: #ff3b80;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -$progress-pointer-height / 2 + $progress-height / 2; // for chrome
  }

  &:focus::-webkit-slider-runnable-track {
    background: $bg;
  }

  // moz
  &::-moz-range-track {
    width: 100%;
    height: $progress-height;
    cursor: pointer;
    background: $bg;
    border-radius: 10px;
  }

  &::-moz-range-thumb {
    height: $progress-pointer-height;
    width: $progress-pointer-height;
    border-radius: 50%;
    background: #ff3b80;
    cursor: pointer;
    border: 1px solid #ff3b80;
  }

  // ms
  &::-ms-fill-lower {
    background: #ff3b80;
    border-radius: 10px;
  }

  &::-ms-fill-upper {
    background: #ff3b80;
    border-radius: 10px;
  }

  &::-ms-thumb {
    height: $progress-pointer-height;
    width: $progress-pointer-height;
    border-radius: 50%;
    background: #ff3b80;
    cursor: pointer;
  }

  &:focus::-ms-fill-lower {
    background: $bg;
  }

  &:focus::-ms-fill-upper {
    background: $bg;
  }
}

@-moz-document url-prefix() {
  input[type=range] {
    top: -3px!important;
  }
}
